
<h2>Lista de postagens</h2>
<hr>
<a href="/postagens/add/"><button type="button" class="btn btn-success">Nova postagem</button></a>



{{#each postagens}}

<div class="card text-center mt-4">
  <div class="card-body">
    <h5 class="card-title">{{titulo}}</h5>
    <p class="card-text">{{descricao}}</p>
    <small>Categoria: {{categoria.nome}}</small>
    <br>
    <a href="/postagens/editar/search/{{id}}">
        <button type="button" class="btn btn-primary">Editar</button>
    </a>
    <a href="/postagens/editar/deletar/{{id}}">
        <button type="button"  class="btn btn-danger">excluir</button>
    </a>
    <a href="/comentarios/editar/admin/search/{{slug}}">
        <button type="button"  class="btn btn-success">Comentários</button>
    </a>
  </div>
</div>


{{else}}
<h4>nenhuma categoria registrada</h4>
{{/each}}
