<div class="card">
    <div class="card-body">
        <h1>{{categoria.nome}}</h1>
        <hr>
        <small>Data de publicação: {{categoria.date}}</small>
    </div>
</div>

<hr>
<h4>Postagens na categoria: </h4>

{{#each postagens}}

<div class="card">
  <div class="card-body">
    <h3>{{titulo}}</h3>
    <p>{{descricao}}</p>
    <a href="/postagens/search/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
    <a href="/postagens/editar/deletar/{{id}}"><button class="btn btn-danger">Excluir</button></a>
    <hr>
    <small>Data de publicação: {{data}}</small>
  </div>

</div>

{{else}}
<div class="card">
  <div class="card-body">
    <h3>Nenhuma postagem postada</h3>
  </div>
</div>

{{/each}}